<div id="mySidenav" class="sidenav" [ngClass]="clicked ?'sidenav':'open'">
    <a routerLink="dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
    <a routerLink="partenaires"><i class="fa fa-user" aria-hidden="true" style="padding-right:10px ;"></i>Les partenaires</a>
    <a routerLink="clients"><i class="fa fa-user" aria-hidden="true" style="padding-right:10px ;"></i>Les clients</a>
    <a routerLink="demande"><i class="fa fa-bell" aria-hidden="true" style="padding-right:10px ;"></i>Demande partenariat</a>
</div>